* {
    margin: 0; 
    padding: 0;
    min-width: 0; 
    min-height: 0; 
    /* font-family: Arial, Helvetica, sans-serif;  */
    font-family: monospace; 
    font-size: 1.1vw; 
    color: var(--blue2); 
    box-sizing: border-box; 
}

:root {
    --yellow1: #f7db20; 
    --yellow2: #fffdf4; 
    --blue1: #3a53b2; 
    --blue2: #233370; 
    --blue3: #60779c; 
}

/* GENERAL */

body {
    width: 100%; 
    height: 100%; 
}

.error-message {
    display: flex; 
    justify-content: center; 
    width: 100%; 
    padding-top: 2%; 
    padding-bottom: 2%; 
    background-color: var(--blue3); 
}

.error-message > p, .error-message > p > strong {
    color: white; 
}

/* HEADER */
header {
    width: 100%; 
    height: 7vw;  
    display: flex; 
    align-items: end; 
    justify-content: flex-end; 
    background-color: #f7db20; 
}

header > img {
    position: absolute; 
    left: 2%;  
    margin-bottom: 0.5%; 
    width: 14%; 
}

.header-triangle {
    width: 3vw; 
    height: 3vw; 
    border: none; 
    background-color: #3a53b2;
    background-image: -webkit-linear-gradient(-45deg, #f7db20 50%, #3a53b2 50%);
    /* border: 1px solid red;  */
}

/* NOTE: search form can have vw measurements because it 
won't show up on mobile */

header > form {
    position: relative; 
    /* align-items: top;  */
    width: 20vw; 
    height: 3vw; 
    padding-left: 1vw; 
    background-color: #3a53b2; 
}

header > form > input {
    position: absolute; 
    bottom: 0; 
    outline: none; 
    width: 13vw; 
    height: 1.7vw; 
}

header > form > a {
    position: absolute; 
    bottom: 0; 
    left: 15vw; 
    display: inline-block; 
    width: 1.7vw; 
    height: 1.7vw; 
}

header > form > a > img {
    display: block; 
    width: 100%; 
}

/* NAV  */
nav {
    display: block;  
    align-items: center; 
    width: 100%; 
    padding-left: 3%; 
    padding-top: 0.7%; 
    padding-bottom: 0.7%; 
    background-color: #3a53b2; 
}

nav > ul { 
    width: 100%; 
    display: block; 
}

nav > ul > li {
    display: inline-block; 
    margin-right: 0.7%; 
    margin-left: 0.7%; 
}

nav > ul > li > a {
    display: block; 
    color: white; 
    text-decoration: none; 
    font-family: monospace; 
    font-size: 1.2vw; 
    font-weight: bold; 
}

nav > ul > li > a:hover {
    text-decoration: underline; 
}

/* FOOTER */
footer {
    width: 100%; 
    padding-top: 1.5%; 
    padding-bottom: 1.5%; 
    background-color: var(--blue1); 
    color: white; 
}

footer > div, footer > div > a {
    color: white; 
}

/* PAGE  */
.content, .left-bar, .right-bar {
    display: inline-block; 
}

.full-page {
    display: flex; 
    justify-content: center;
}

.content {
    width: 75%;
}

.upper-content {
    display: block; 
    padding-top: 1%; 
    padding-bottom: 1%; 
}

.splash {
    width: 100%; 
    text-align: center; 
}

.splash > a:link, .splash > a:visited {
    color: blue; 
}

.left-bar {
    width: 10%; 
    border-right: 0.2vw solid var(--blue1); 
}

.right-bar {
    width: 15%;
    background-color: var(--blue1); 
}

.right-bar > ul {
    margin-left: 15%; 
    margin-right: 7%; 
}

.right-bar > .links > li, .right-bar > .links > li > a {
    color: white; 
}


/* LEFT BAR */
.left-bar > div > img {
    width: 100%; 
}

/* CONTENT */
.inner-content {
    display: flex; 
    align-items: start; 
}

.main, .side {
    display: inline-block; 
}

.main {
    width: 75%; 
}

.main > div {
    width: 100%; 
    background-color: #fffdf4; 
}

.main > div > h3 {
    padding-top: 1.225%; 
    padding-bottom: 1.225%; 
    background-color: var(--blue1); 
    color: white; 
    font-size: 1.2vw; 
    text-align: center; 
}

.main > div > p {
    padding: 1.75%; 
}

.side {
    width: 25%; 
}


/* RIGHT BAR */
.links {
    margin-left: 7.4%; 
}


/* WORD OF THE DAY */
.side > .daily-vocab {
    width: 100%; 
    border-left: 0.2vw solid var(--blue1); 
    padding-bottom: 8.75%; 
}

.side > .daily-vocab > h3 {
    padding-top: 3.625%; 
    padding-bottom: 3.625%; 
    background-color: var(--blue1); 
    color: white; 
    font-size: 1.2vw; 
    text-align: center; 
}

.side > .daily-vocab > div {
    width: 100%; 
    padding: 6%; 
}

.word {
    margin-bottom: 6%; 
    text-transform: uppercase; 
    font-weight: bold; 
}

.word-type {
    margin-bottom: 6%; 
    text-decoration: underline; 
}

.word-def {
    margin-bottom: 6%; 
}

.synonyms {
    margin-bottom: 6%; 
}

.synonyms, .antonyms {
    width: 100%; 
}

.synonyms > li, .antonyms > li {
    margin-left: 24%; 
}

.synonyms > li:first-child, .antonyms > li:first-child {
    list-style: none; 
    margin-left: 0; 
}

/* 1-WORD PAGE  */

.join-game {
    display: block; 
    width: 100%; 
    text-align: center; 
    padding-top: 1%; 
    padding-bottom: 1%; 
}

.join-game > p {
    display: inline-block;
    margin-left: 1%; 
    margin-right: 1%; 
}

.join-game > p > a {
    text-decoration: none; 
}

.join-game > p > a:hover {
    text-decoration: underline; 
}

.join-form {
    display: flex; 
    width: 100%; 
    justify-content: center; 
    margin-top: 3%; 
}

.join-form > div {
    display: block; 
    width: 30%; 
    border: 0.2vw solid var(--blue1); 
}

.join-form > div > .outer-div {
    display: flex; 
    justify-content: center;
}

.join-form > div > div > .inner-div {
    display: block; 
    width: 70%; 
    padding-top: 5%; 
    padding-bottom: 5%; 
}

.join-form > div > .outer-div > .inner-div > label, .join-form > div > .outer-div > .inner-div > input {
    display: block; 
    width: 100%; 
}

.join-form > div > .outer-div > .inner-div > input {
    margin-bottom: 5%; 
    outline: none; 
}

.join-form > div > .outer-div > .inner-div > label {
    margin-bottom: 1%; 
}

.join-form button {
    background-color: var(--blue1); 
    padding-right: 5%; 
    padding-left: 5%; 
    padding-top: 3%; 
    padding-bottom: 3%; 
    float: right; 
    color: white; 
    border: none; 
}

.join-form button:hover {
    background-color: var(--blue2); 
}

.create-username {
    display: flex; 
    justify-content: center;
    background-color: var(--blue1); 
    padding-top: 5%; 
}

.create-username > div > label {
    display: block; 
    color: white; 
}

.create-username > div > input {
    display: block; 
    outline: none; 
    margin-top: 5%; 
    margin-bottom: 10%; 
}

.game-info { 
    display: block; 
    width: 100%; 
}

.game-info > div {
    display: inline-block; 
    padding-top: 1%; 
    padding-bottom: 1%; 
    text-align: center; 
}

.game-info > .word-limit, .game-info > .users-connected {
    border-right: 0.2vw solid var(--blue1); 
}

.game-info > .word-limit {
    width: 15%; 
}

.game-info > .users-connected {
    width: 60%; 
    text-align: left; 
    padding-left: 2%; 
    padding-right: 2%; 
    overflow: none; 
}

.game-info > .room-key {
    width: 25%; 
}

.game-info > h3 {
    display: block; 
    width: 100%; 
    background-color: var(--blue1); 
    color: white; 
    font-weight: bold; 
    text-align: center; 
    font-size: 1.2vw; 
    padding-top: 1%; 
    padding-bottom: 1%; 
}

.story-says {
    margin: 3%; 
    width: 100%; 
}

.story-says > form {
    width: 100%; 
}

.story-says > form > textarea {
    display: block; 
    padding: 1%; 
    margin-top: 1%; 
    margin-bottom: 1%; 
    width: 100%; 
    height: 15vw; 
    outline: none; 
    color: var(--blue3); 
}

.story-says > form > button {
    background-color: var(--blue1); 
    padding-right: 2.5%; 
    padding-left: 2.5%; 
    padding-top: 1%; 
    padding-bottom: 1%; 
    margin-left: 1%; 
    float: right; 
    color: white; 
    border: none; 
}

.story-says > form > .leave-button {
    float: left; 
    margin: 0; 
}

.story-says > form > button:hover {
    background-color: var(--blue2); 
}

